/* css styles */

.quarto-title-block .quarto-title-banner {
  background-image: url(assets/rect124075.png);
  background-size: 250px;
  background-position: left -35px;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-origin: content-box;
}
